.header {
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header > .title {
    display: flex;
    align-items: flex-end;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--third);
}

.header > a {
    color: var(--third);
}

.container {
    width: 60vw;
}

.cronjobs {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
}